{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-imports": 2,
    "@typescript-eslint/member-delimiter-style": 2,
    "@typescript-eslint/no-confusing-non-null-assertion": 2,
    "@typescript-eslint/no-misused-new": 2,
    "@typescript-eslint/no-require-imports": 2,
    "@typescript-eslint/prefer-for-of": 2,
    "@typescript-eslint/restrict-plus-operands": 2,
    "@typescript-eslint/switch-exhaustiveness-check": 2,
    "@typescript-eslint/unbound-method": 2,
    "@typescript-eslint/prefer-nullish-coalescing": 1,
    "@typescript-eslint/require-array-sort-compare": 1,
    "@typescript-eslint/no-base-to-string": 1,
    "@typescript-eslint/no-floating-promises": 0,
    "@typescript-eslint/no-empty-function": 1,
    "@typescript-eslint/no-empty-interface": 1,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-namespace": 0,
    "no-async-promise-executor": 0,
    "no-prototype-builtins": 0,
    "no-control-regex": 0,
    "no-constant-condition": 0,
    "@typescript-eslint/ban-ts-comment": 1,
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "object": false,
          "Function": false
        },
        "extendDefaults": true
      }
    ]
  }
}
